h1 {
  text-transform: uppercase;
  position: absolute;
}

.intro-cover-black {
  animation: slidein 1s;
  min-width: 100%;
  min-height: 100%;
  background: black;
  position: fixed;
}

.introCover {
  animation: slidein 1.5s;
  min-width: 100%;
  min-height: 100%;
  background: white;
  position: fixed;
}

.introPara {
  position: relative;
}

@keyframes slidein {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
