body {
  background: white !important;
}
h1 {
  text-transform: uppercase;
  position: relative;
  color: white;
  margin: 4vmin 10vmin;
}

.intro-cover-black {
  animation: slidein 1s;
  min-width: 100%;
  min-height: 100%;
  background: black;
  position: fixed;
}

.introCover {
  animation: slidein 1.5s;
  min-width: 100%;
  min-height: 100%;
  background: white;
  position: fixed;
}
.content-container {
  min-width: 184vmin;
  position: absolute;
  height: 90vmin;
  margin: 6vmin 6vmin;
}
.questionnaire-container {
  min-width: 71vmin;
  max-width: 100vmin;
  position: absolute;
  top: 0vmin;
  right: 0;
  font-size: 3vmin;
  width: calc(100% - 120vmin);
  height: 52vmin;
  margin: 6vmin 2vmin;
}
.questionnaire-container.readMore {
  transition: 2s;
  min-width: 96%;
  top: 0vmin;
} 
.coverForInterview.readMore {
  display: none;
  transition: 2s;
}
.content-container.readMore,
.backgroundVideo.readMore{
  filter: blur(4px);
  transition: 2s;
} 

.questions {
  font-family: Futura;
  color: #e91e63;
  font-size: 2.5vmin;
  font-weight: 600;
}
.answers {
  font-family: "Helvetica Neue";
  font-size: 2vmin;
  font-weight: 200;
  color:black;
  overflow-y: scroll
}
.introPara {
  font-family: Futura;
  font-weight: 600;
  font-size: 2.1vmin;
  color: white;
  background: rgba(255, 255, 255, 0.219);
  position: relative;
  width: calc(100% - 110vmin);
  padding: 2vmin;
  border-radius: 2vmin;
  box-shadow: 0px 0px 1vmin 1vmin #00000073;
}

.backgroundVideo {
  position: fixed;
  bottom: 0;
  min-width: 100%;
  background: black;
  min-height: 100%;
  animation: slidein 2s;
}

.coverForInterview{
  overflow: hidden;
  z-index: 1;
  border-radius: 20px;
  cursor: pointer;
  min-width: 71vmin;
  max-width: 100vmin;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 3vmin;
  width: calc(100% - 120vmin);
  height: 91vmin;
  margin: 6vmin 2vmin;
}

/* Flip action */
.flashCard {
  perspective: 100vmin;
  width: 30vmin;
  height: 43vmin;
  position: absolute;
  margin: 0px auto;
}

.flashCard .flashCard-inner.flipped {
  transform: rotateY(-180deg);
  z-index: 4;
}

.flashCard .flashCard-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 0.5s;
  position: relative;
  display: inline-block;
  border: 5px solid #e4c372;
  border-radius: 20px;
  cursor: pointer;
}

.flashCard .flashCard-inner .questions,
.flashCard .flashCard-inner .answers
{
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden ;
  z-index: 2;
  background:black;
  border-radius: 15px;
}

.flashCard.flipped{
  width: 100%;
  height: 84vmin;
  z-index: 1;
  position: absolute;
  left: 0 !important;
}
.flashCard .flashCard-inner .questions {
  position: absolute;
  z-index: 1;
}
.flashCard .flashCard-inner .answers {
  transform: rotateY(-180deg);
  background: white;
}

.flashCardLogoContainer{
  margin: 0px auto;
  max-width: 10vmin;
}
.flashCardLogoContainer img{
  width:100%;
  height: auto;
}

@keyframes slidein {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
