body {
  width: 100%;
  height: auto;
  background: url("https://thelabelsticks.com/assets/wooden-back.jpg");
  background-size: cover;
  box-shadow: inset -5px -4px 16px 8px rgba(0, 0, 0, 0.56);
}
.home {
  width: 58vmin;
  height: auto;
  position: absolute;
  left: 22%;
  top: 4%;
  transition: 0.5s;
  background-size: cover;
  background-repeat: repeat;
  border-radius: 0px 15px 15px 2px;
  box-shadow: 6px 9px 9px 4px rgb(0, 0, 0),
    inset 6px -7px 16px 2px rgba(0, 0, 0, 0.56);
  transform: rotate(-5deg);
}
.closeButton {
  transform: rotate(5deg);
  position: absolute;
  z-index: 2;
  top: 2vmin;
  right: 70vmin;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.6);
  background: black;
  color: white;
  padding: 1vmin;
  font-size: 6vmin;
  border-radius: 10px 0px 10px 0px;
  cursor: pointer;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.79);
}
@media only screen and (max-width: 768px) {
  .home {
    width: 70vmin;
    height: auto;
    position: absolute;
    left: 15%;
    top: 24%;
  }
  .menu a {
    font-size: 3vmin !important;
  }
  .menu p {
    width: 6rem !important;
    font-size: 2.8vmin !important;
  }
  .imagewrapper {
    max-width: 11vh !important;
  }
  .hover {
    width: 22vh !important;
  }
  .hover p {
    font-size: 3.8vmin !important;
    color: white;
    width: 23vh !important;
  }
  .timestamp {
    font-size: 3vmin;
  }
}
.home img {
  max-width: 70vmin;
  width: 100%;
  height: auto;
  border-radius: 0px 15px 15px 2px;
}
.masthead {
  width: 24vmin;
  position: absolute;
  height: auto;
  z-index: 1;
}
.menu {
  position: absolute;
  top: 11vmin;
  left: 3vmin;
  width: 100%;
  height: auto;
}
.menu a {
  position: relative;
  top: 1rem;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  color: #33302a;
  text-shadow: -1px 2px 3px rgb(255, 255, 255);
  font-weight: bold;
  font-size: calc(2vmin + 3px);
  cursor: pointer;
}
.menu p {
  margin-bottom: 3vmin;
  font-family: "Helvetica Neue", sans-serif;
  margin-top: 0.3vmin;
  font-size: calc(1.95vmin + 0.05rem);
  color: #000000;
  font-weight: 100;
  width: 16vmin;
  text-shadow: 0px 0px 0px rgb(0, 0, 0);
}
.timestamp {
  position: absolute;
  bottom: -2vmin;
  left: 1rem;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  color: #ac181f;
}

.hover {
  position: absolute;
  transform: rotate(5deg);
  background: white;
  border-radius: 10px;
  width: 50vh;
  height: auto;
  z-index: 2;
  padding: 3rem;
  animation: fadein 0.6s;
  transition: all 0.15s ease-out;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  box-shadow: -2px 3px 5px 2px rgba(0, 0, 0, 0.66);
}
.hover::after {
  content: "";
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-color: #262626;
  z-index: -1;
  box-shadow: -2px 3px 5px 2px rgba(0, 0, 0, 0.66);
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hover h1 {
  font-size: 3vmin;
  color: white;
  text-shadow: 0px 4px 4px rgb(0, 0, 0);
}
.imagewrapper {
  width: 100%;
  height: auto;
  max-width: 20vh;
}
.hover p {
  font-size: 2.8vmin;
  color: white;
  width: 50vh;
}
.hover button {
  position: absolute;
  top: 20%;
  right: 2%;
  font-size: 4.8vmin;
  background: black;
  color: white;
  border: black;
  cursor: pointer;
  box-shadow: -3px 4px 1px 1px rgba(0, 0, 0, 0.56);
}
.hover button::after {
  content: "";
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: -1;
}
.hover button:focus,
.hover button:active {
  border: black;
}
