.container-fb {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 5;
  border-radius: 15px 0 0 15px;
  transform: rotate(5deg);
}
.pageBottom {
  position: absolute;
  bottom: 0rem;
  left: 1rem;
}
.magazineBorder {
  border-top: 0.3rem solid;
  height: 90%;
  width: 90%;
  position: absolute;
  left: 1rem;
  top: 1rem;
}
.page {
  position: absolute;
  z-index: 4;
  transform: scale(0.8);
  width: 49.3vmin;
  height: 90%;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.37);
  transition: 0.7s;
}
.page:hover {
  transform: rotateY(20deg);
  transition: 0.5s;
}

.page.active {
  cursor: pointer;
  height: 75vmin;
  background: white;
  border-radius: 0px 15px 15px 0px; /* 
  z-index: 5; */
  filter: blur(0px);

  animation-delay: 0.2s;
}
.visible {
  animation: show-description 1s forwards;
  animation-delay: 1s;
}
@keyframes spread-description {
  0% {
    left: 0vmin;
    width: 40vmin;
  }
  100% {
    left: 26vmin;
    width: 90vmin;
  }
}
@keyframes compress-description {
  0% {
    left: 30vmin;
    width: 90vmin;
  }
  100% {
    left: 0vmin;
    width: 40vmin;
  }
}
.star-description {
  opacity: 0;
  position: absolute;
  bottom: 7vmin;
  right: 0;
  width: 50%;
}

/* .page.active > div > div.textContent > div {
  animation: show-description 1s forwards;
  animation-delay: 1s;
} */
@keyframes show-description {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.page.active:hover {
  transform: rotateY(0deg);
}
.page::after {
  position: absolute;
  right: -2%;
  bottom: -6%;
  border-radius: 26%;
  width: 100%;
  height: 2%;
  content: "";
  z-index: -1;
  background: #0305021a;
}
.page.left {
  left: -8rem;
  filter: blur(1px);
}
.page.right {
  left: 8rem;
  filter: blur(1px);
  background: white;
}
.textContent {
  background: white;
}
.magazineImage {
  position: absolute;
  width: 22vmin !important;
  left: 10vmin;
}
.starName {
  position: absolute;
  top: 7vmin;
  right: -4vmin;
  padding: 1vmin;
  font-size: 4vmin;
  width: 26vmin;
  transform: rotate(90deg);
  color: white;
  background: black;
}
.straighten {
  top: 2vmin;
  transform: rotate(0deg);
}
.firstPageStyle {
  margin: 11vmin 10%;
  padding: 10%;
  font-size: 3vmin;
  border-radius: 10px 0px;
  border-bottom: 0.3rem solid;
}

.collapsed {
  transition: 1s;
  left: 0vmin !important;
  animation: dissolveIntoCover 2s forwards;
  animation-delay: 1s;
}
@keyframes dissolveIntoCover {
  0% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
    display: none;
    width: 0;
    height: 0;
  }
}

.active-hover {
  animation-delay: 2s;
  animation: spread-description 1s forwards;
}
.mouseout-hover {
  animation: compress-description 1s forwards;
  animation-delay: 1s;
}
/* .navigationDock {
  position: absolute;
  z-index: 5;
  bottom: 0rem;
  font-size: 2rem;
  width: 100%;
  color: white;
  height: 3rem;
}
.navigationDock .navigateleft {
  position: absolute;
  left: 1rem;
  background: black;
  padding: 0.3rem;
  cursor: pointer;
}
.navigationDock .navigateRight {
  position: absolute;
  right: 1rem;
  background: black;
  padding: 0.3rem;
  cursor: pointer;
} */

/* Media Queries */
@media only screen and (max-width: 768px) {
  .page.active {
    transform: scale(1) !important;
  }
  .page.active:hover {
    transform: rotateY(0deg) scale(1.2) !important;
    z-index: 100 !important;
  }
  .container-fb {
    overflow: scroll;
    transform: rotate(5deg) scale(1.3);
  }
  .closeButton {
    top: -18vmin;
    right: -7vmin;
  }
}
